:root{
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins, sans-serif;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  border: none;
  padding: 12px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}
button:hover{
  background-color: var(--accent-color);
  box-shadow: 0px 4px 12px rgba(0, 113, 255, 0.6);
  transform: translateY(-2px);
}
button:active {
  transform: translateY(1px);
}
#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
#theme-switch:hover{
  background-color: var(--accent-color);
  box-shadow: 0px 0px 12px rgba(0, 113, 255, 0.6);
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  background: var(--base-variant);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--secondary-text);
}
input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}
input:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(0, 113, 255, 0.5);
  outline: none;
}
input:hover {
  border-color: var(--primary-color);
}
.requerimientos {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  min-height: 20px;
  transition: opacity 0.3s ease-in-out;
}
.requerimientos.error {
  color: #ff4d4d;
  opacity: 1;
}
.requerimientos.success {
  color: #28a745;
  opacity: 1;
}
@media (max-width: 480px) {
  .container {
    width: 30%;
    padding: 15px;
  }
  input {
    font-size: 14px;
  }
  button {
    font-size: 16px;
  }
}
